.confirm-button {
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: var(--accent-color);
  color: var(--primary-color);
  font-size: 1rem;
  line-height: 1.5rem;
  width: 100%;
  cursor: pointer;
  border-radius: 0.375rem;
  border-width: 1.25px;
  border-color: transparent;
  margin-top: 0.5rem;
  margin-bottom: 1rem;

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04);

  &:disabled {
    background-color: var(--disabled-color);
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    background-color: var(--accent-hover-color);
  }
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  cursor: pointer;
}

.divider {
  border-left: 1px solid #e3e2e2;
  height: 80px;
  position: absolute;

}
