.input {
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  transition: border-color 0.3s;
  margin-bottom: 0.4rem;

  &:focus {
    border-color: #4285f4;
    outline: none;
    box-shadow: 0 0 0 2px rgba(66, 133, 244, 0.2);
  }

  &.is-success {

    &:focus {
      border-color: #48c774;
      box-shadow: 0 0 0 0.125em rgba(72, 199, 116, 0.25);
    }

  }

  &.is-error {
    border-color: #f14668;
    background-color: #fff5f7;

    &:focus {
      border-color: #f14668;
      box-shadow: 0 0 0 0.125em rgba(241, 70, 104, 0.25);
    }
  }
}

